<h1>Pagina de inicio de la aplicacion</h1>

<h2>Incorporar Bootstrap al proyecto:</h2>

<ol>
    <li>Acceder a <a href="https://getbootstrap.com/" target="_blank">https://getbootstrap.com/</a> y copiar el comando
        para instalar el modulo en el proyecto.</li>
    <li>En el proyecto abrir una terminal, pegar el comando y ejecutarlo</li>
    <li>En la carpeta node_modules buscar bootstrap, desplegar la carpeta dist y luego css y js.</li>
    <li>Dentro de css buscar el archivo bootstrap.min.css, clickear con el boton derecho y copiar la ruta relaiva.</li>
    <li>Buscar clave styles <b>dentro del build</b> y agregar la ruta copiada (va entre comillas <b>" "</b>, y de ser
        necesario reemplazar las barras <b>\</b> por estas <b>/</b>).</li>
    <li>Volver a la carpeta js dentro de dist en node_modules y copiar la ruta relativa del archivo
        bootstrap.bundle.min.js</li>
    <li>Buscar clave scripts <b>dentro del build</b> y agregar la ruta copiada (va entre comillas <b>" "</b>, y de ser
        necesario reemplazar las barras <b>\</b> por estas <b>/</b>).</li>
</ol>
